@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gowun+Dodum&display=swap');

body {
    background-color: #e7ffe7;
    padding: 4em;
    font-family: Gowun Dodum, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #CEFFCE;
    max-width: 100%;
    display: grid;
    grid-template-columns: 150px auto;


}

.logo {
    width: 80px;
    margin: 15px;
}

#logo_link {
    padding-top: 5px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #061d0c;
    text-decoration: none;
    padding: 45px 35px 0px 35px;
    border-radius: 10px;


}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-img {
    width: 100%;

}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;

}

#hero-msg h4 {
    color: white;
}

.msg {
    padding: 35px;
}

.msg p {
    padding-bottom: 15px;
}

.msg h2 {
    color: #0e411c;

}

h2 {
    font-family: "Anton", Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    ;
}

.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}

.card-img {
    width: 100%;
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

.home-title {
    color: #061d0c;
    font-family: "Anton", Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}



#background {
    height: 725px;
    background-color: rgb(0, 162, 232);
    color: #061d0c;
    font-weight: bold;
    grid-column: 1/11;
    grid-row: 4/9;


}

header {
    background-color: #CEFFCE;
}

nav a:hover {
    background-color: #bef1be;
    color: #006dc7;
    text-decoration: underline;
}

.book,
.join {
    background-color: #b6e6b6;
    color: #061d0c;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 10px;
}

.card-img {
    border: 10px solid #a0d1a0;
}

main section img {
    box-sizing: border-box;
}

.book:hover,
.join:hover {
    background-color: #9ecc9e;
    color: #006dc7;
    text-decoration: underline;

}

.mountains {
    width: 100%;
    margin: 100px;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg {
    background-color: #CEFFCE;
    font-size: 0.8em;
    line-height: 1.5em;
    margin: 150px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

footer {
    width: 100%;
    background-color: #0e411c;
    color: #CEFFCE;
    text-align: left;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

footer p {
    font-size: 0.7em;

}

footer a {
    text-decoration: none;
}

footer a:hover {
    background-color: #061d0c;
    color: #006dc7;
    text-decoration: underline;

}

footer .social img {

    width: 45px;
    height: 45px;
    margin: 25px 2px 15px 2px;

}

/* HERE ARE THE 2nd PAGE CSS RULES*/
/* HERE ARE THE 2nd PAGE CSS RULES*/
/* HERE ARE THE 2nd PAGE CSS RULES*/

#riverMain {
    margin-left: 80px;
}

#rivers {
    display: inline;
    margin-top: 20px 0x 0x 0x;
    font-size: 4em;
    font-family: Gowun Dodum, Helvetica, sans-serif;
    font-weight: bolder;
    color: #061d0c;

}

#choose {
    display: inline;
    font-family: Gowun Dodum, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: bold;
    position: relative;
    top: 20px;
    right: 205px;
    color: #34864a;
}

/*Idaho*/

#idaho {
    display: grid;
    grid-template-columns: 1fr 10fr 2fr 2fr 3fr 2fr;
    grid-template-rows: 50px 600px 150px 100px 50px;
    margin-bottom: 130px;
}

#idahoRiverName {
    grid-column: 3 / 6;
    grid-row: 1 / 2;
    text-align: right;
    padding-right: 20px;
    font-size: 30px;
    z-index: 3;
    font-family: Anton;
    color: #041307;
    position: relative;
    bottom: 65px;
}

#idahoUnderbox {
    grid-column: 3 / 6;
    grid-row: 1 / 2;
    z-index: 2;
    background-color: #9ecc9e;
}

#idahoRiverImage {
    width: 100%;
    grid-column: 2 / 6;
    grid-row: 1 / 4;
    z-index: 1;
}

#idahoDescription {
    grid-column: 1 / 4;
    grid-row: 3 / 6;
    background-color: #f5fff5;
    border: 2px solid #0e411c;
    padding: 30px;
    z-index: 1;
    font-weight: bold;
    font-size: 15px;
}

#idahoButton {
    grid-column: 5 / 6;
    grid-row: 5 / 6;
    text-align: center;
    z-index: 1;
    font-weight: bold;

}

/*Utah*/

#utah {
    display: grid;
    grid-template-columns: 1fr 10fr 2fr 2fr 3fr 2fr;
    grid-template-rows: 50px 600px 150px 100px 50px;
    margin-bottom: 130px;
}

#utahRiverName {
    grid-column: 3 / 6;
    grid-row: 1 / 2;
    text-align: right;
    padding-right: 20px;
    font-size: 30px;
    z-index: 3;
    font-family: Anton;
    color: #041307;
    position: relative;
    bottom: 65px;
}

#utahUnderbox {
    grid-column: 3 / 6;
    grid-row: 1 / 2;
    z-index: 2;
    background-color: #9ecc9e;
}

#utahRiverImage {
    width: 100%;
    grid-column: 2 / 6;
    grid-row: 1 / 4;
    z-index: 1;
}

#utahDescription {
    grid-column: 1 / 4;
    grid-row: 3 / 6;
    background-color: #f5fff5;
    border: 2px solid #0e411c;
    padding: 30px;
    z-index: 1;
    font-size: 18px;
    font-weight: bold;
}

#utahButton {
    grid-column: 5 / 6;
    grid-row: 5 / 6;
    text-align: center;
    z-index: 1;
    font-weight: bold;
}

/*Arizona*/

#arizona {
    display: grid;
    grid-template-columns: 1fr 10fr 2fr 2fr 3fr 2fr;
    grid-template-rows: 50px 550px 200px 100px 50px;
    margin-bottom: 130px;
}

#arizonaRiverName {
    grid-column: 3 / 6;
    grid-row: 1 / 2;
    text-align: right;
    padding-right: 20px;
    font-size: 30px;
    z-index: 3;
    font-family: Anton;
    color: #041307;
    position: relative;
    bottom: 65px;
}

#arizonaUnderbox {
    grid-column: 3 / 6;
    grid-row: 1 / 2;
    z-index: 2;
    background-color: #9ecc9e;
}

#arizonaRiverImage {
    width: 100%;
    grid-column: 2 / 6;
    grid-row: 1 / 4;
    z-index: 1;
}

#arizonaDescription {
    grid-column: 1 / 4;
    grid-row: 3 / 6;
    background-color: #f5fff5;
    border: 2px solid #0e411c;
    padding: 30px;
    z-index: 1;
    font-size: 18px;
    font-weight: bold;
}

#arizonaButton {
    grid-column: 5 / 6;
    grid-row: 5 / 6;
    text-align: center;
    z-index: 1;
    font-weight: bold;
}


#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;
}

.moveDown {
    margin-top: 3em;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li+li {
    margin-top: 1em;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;

    /* Match form field borders */
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 5em;
}

.button3 {
    /* Align buttons with the text fields */
    padding-left: 90px;
    /* same size as the label elements */
}

button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
}































/* no traspassing */
/* no traspassing */
/* no traspassing */
/* no traspassing */
/* no traspassing */
@media screen and (max-width: 900px) {

    #hero,
    .home-grid {
        display: block;
        height: auto;
    }

    nav,
    footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    #hero {
        margin-top: 0;
    }

    #hero-msg {
        margin-top: 0;
    }

    #hero-msg h4 {
        display: none;
    }

    .home-title {
        font-size: 25px;
        color: #6f7364;
    }

    .rivers-card,
    .camping-card,
    .rapids-card {
        margin: 50px auto;
        width: 60%;
    }

    #background {
        display: none;
    }

    .mountains,
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    footer {
        margin-top: 25px;
    }
}