/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Public+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aptos');
@import url('https://fonts.googleapis.com/css2?family=Oswald');

/* Body Styles */
body {
    background-color: #f5f3ef;
    color: #283a31;
    font-family: Aptos, 'Public Sans', sans-serif;
}

/* Navigation Styles */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 16px;
    background-color: #f5f3ef;
}

li a:hover {
    background-color: #79aa92;
    color: #ffffff;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: #283a31;
}

/* Logo Styles */
#logo {
    width: 120px;
    position: fixed;
    top: 10px;
    right: 10px;
}

/* Heading Styles */
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font: 30px Oswald, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Main Content Styles */
main {
    margin: 20px 0 200px 0;
    display: grid;
    grid-template-columns: 3fr 3fr 1fr 4fr 3fr;
    grid-template-rows: 20px 50px 50px 350px;
}

/* Subheading Styles */
h2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #179257;
}

/* Additional Content Styles */
h3 {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    font-size: 14px;
    font-weight: 100;
    max-width: 300px;
    text-align: justify;
    text-justify: inter-word;
}

#photo {
    width: 100%;
    grid-column: 4 / 5;
    grid-row: 1 / 6;
    filter: brightness(65%) contrast(140%);
}

/* Footer Styles */
footer {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, rgb(14, 65, 28), #051a0b);
    color: #CEFFCE;
    padding: 20px 10px;
    text-align: left;
}

footer p {
    font-size: 0.7em;
}

footer a {
    text-decoration: none;
}

/* Social Media Icons Styles */
footer .social img {
    width: 45px;
    height: 45px;
    margin: 25px 10px 15px 0;
}

/* Address Styles */
address {
    background-color: #0e411c;
    color: #2b9748;
    font-size: 12px;
}

/* RESUME PAGE SPECIFICS*/
.res {
    text-align: center;
}

#resume_big {

    width: 500px;
    margin: 25px;
}

#resume_pdf,
#resume_msw {
    width: 100px;
    margin: 25px;
    border: 1px solid #0e411c;
}

#resume_pdf:hover,
#resume_msw:hover {
    filter: brightness(80%);
}