@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Public+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aptos');
@import url('https://fonts.googleapis.com/css2?family=Oswald');

body {
    background-color: #f5f3ef;
    color: #283a31;
    font-family: Aptos, 'Public Sans', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 16px;
    background-color: #f5f3ef;
}

li a:hover {
    background-color: #79aa92;
    color: #ffffff;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: #283a31;
}


h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font: 70px;
    font-family: Oswald, Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

main {
    margin: 20px 0px 200px 0px;
    display: grid;
    grid-template-columns: 3fr 3fr 1fr 4fr 3fr;
    grid-template-rows: 20px 50px 50px 350px;

}


h2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
    /*position: fixed;
    top: 30%;
    right: 65%;
    padding: 20px;*/
    font-size: 20px;
    font-weight: 700;
}


h3 {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    font-size: 14px;
    font-weight: 100;
    max-width: 300px;
    text-align: justify;
    text-justify: inter-word;
}

#photo {
    width: 100%;
    grid-column: 4 / 5;
    grid-row: 1 / 6;
    filter: brightness(65%) contrast(140%)
}

footer {
    display: flex;
    flex-direction: column;
    align-items: left;
    background: linear-gradient(to right, rgb(14, 65, 28), #051a0b);
    color: #CEFFCE;
    padding: 10px 10px;
    text-align: left;
    padding: 20px;

}

footer p {
    font-size: 0.7em;

}

footer a {
    text-decoration: none;
}

footer .social img {
    width: 45px;
    height: 45px;
    margin: 25px 10px 15px 0px;
}

address {
    background-color: #0e411c;
    color: #2b9748;
    font-size: 12px;
}